1. Print cookies and milk are a great dessert.

In [7]:
("Cookies and milk are a great dessert.")

'Cookies and milk are a great dessert.'

2. Print out your favorite color and above the code comment out what you are doing.

In [19]:
("I am typing a comment.")
("My favorite color is green.")

'My favorite color is green.'

3. Print out your favority color again and add an in-line comment.

In [22]:
("My favorite color is green.")   #Green is my favorite color

'My favorite color is green.'

4. Print the sumation of numbers 1 to 10

In [24]:
(1, 2 ,3, 4, 5 ,6 ,7, 8, 9, 10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

5. Print what 6 to the 7th power is.

In [8]:
6**7

279936

6. Print the remainder of 100 divided by 11.

In [9]:
100/11

9.090909090909092

7. What is the result of "Python" + "1"

In [14]:
"Python"+"1"

'Python1'

8. Print out 100 divided by 5

In [6]:
100/5

20.0

9. What is the different between 10/4 and 10//4?  Print out the result

In [15]:
10/4-10//4

0.5

10. Create a variable named foo that stores a string value.

In [26]:
food = "tomatoe"

11. Print foo variable

In [27]:
food

'tomatoe'

12. Create a variable called height and store your height value there.
Print a sentence describing your height and use the variable in the sentence as well.

In [36]:
height = "tall" 
("My tallness is avergae, but I would describe it as height.")

'My tallness is avergae, but I would describe it as height.'

13. Use the last code, but now print it using a formatted string.

In [37]:
"I am pretty height."

'I am pretty height.'

14. Concate two strings together using variables and print out the result

In [51]:
a= "Tutor";
b= "Joes";
print (a+b)

TutorJoes

15. Use the two different quotes in a string and print out the sentence

In [40]:
'Today is Wednesday.' 'Tomorrow is Thursday.'

'Today is Wednesday.Tomorrow is Thursday.'

16. Print out Hello World! 7 times each on a new line using only one line of code.

In [49]:
("""Hello World
 Hello World
 Hello World
 Hello World
 Hello World
 Hello World
 Hello World""")

'Hello World\n Hello World\n Hello World\n Hello World\n Hello World\n Hello World\n Hello World'

17. What is the result of "apple" > "Apple"

In [16]:
"apple">"Apple"

True

18. Print out if 25 multiplied by 54 is bigger than 33 multipled by 33

In [11]:
25*54>33*33

True

19. What is the result of of 123 == “123”?

In [17]:
123=="123"

False

20. Print out a boolean table for OR using two variables
(hint: use not operator)

In [54]:
print((8==8)) or (6 !=6)

True

False